@import "setup";
@import "labels";
@import "form";

html {
    font-size: 52.5%;
}

body {
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    background-image: url("assets/regal.png");
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

// typography

h1 {
    font-size: 5rem;
    text-align: center;
}

p {
    font-size: 2rem;
}
